* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }
  
  body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(90deg, #30bd05 21%, #f10404 83%);
  
  }
  
  main {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  
  h1,h3,h6 {
    text-align: center;
    font-style: italic;
  }
  
  h5{
    text-align: center;
  }
  
  .currentPlayer{
    text-align: center;
    padding-top: 1rem;
    font-size: x-large;
  }
  
  hr {
    font-weight: bold;
    height: 3px;
    background: white;
    margin-bottom: 2px;
    margin-top: 10px;
  }
  
  /*Div da tabela com 3 colunas*/
  .game {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 10px;
  
  }
  
  /*CSS dos botões*/
  .game button {
    width: 100px;
    height: 100px;
    margin: 4px;
    cursor: pointer;
    font-size: 50px;
    background: #f7f7f7;
    border-radius: 0.5rem;
    border: none;
  }
  
  .game button:hover {
    width: 100px;
    height: 100px;
    margin: 4px;
    cursor: pointer;
    font-size: 50px;
    background: rgb(203, 203, 203);
  }